/* layout */
.row {
  display: flex;
  flex-direction: row;
}

.space-between {
  align-items: space-between;
}

.center {
  align-items: center;
}



/* elements */
.link {
  color: #eee;
  font-size: 20px;
  text-decoration: none;
}

.center-text {
  text-align: center;
}

.loading {
  font-size: 20px;
  color: red;
}

.nav {
  list-style-type: none;
}

.nav li {
  display: inline-block;
  padding: 10px;
}
